/* import fonts Red Hat Display 500, 700, 900 */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
    /* pale blue */
    --clr--primary-color: hsl(225, 100%, 94%);
    /* bright blue */
    --clr--secondary-color: hsl(245, 75%, 52%);
    /* white */
    --clr--white: hsl(0, 0%, 100%);
    /* black */
    --clr--black: hsl(0, 0%, 0%);

    /* Neutral colors */
    --clr--very-pale-blue: hsl(225, 100%, 98%);
    --clr--desaturated-blue: hsl(224, 23%, 55%);
    --clr--dark-blue: hsl(223, 47%, 23%);


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--clr--primary-color);
    text-align: center;
    min-height: 100vh;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--clr--desaturated-blue);
}

button {
    font-family: inherit;
}

.bg-image {
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

/* "main" container */

.container {
    background-color: var(--clr--white);
    margin: 1.25rem;
    box-shadow: 0.5rem 1rem 1rem var(--clr--black 0.4); 
    border-radius: 0.313rem;
    padding-bottom: 1.25rem;

}

.container img.hero {
    width: 100%;
    border-radius: 0.313rem 0.313rem 0 0;
}

.container h1 {
    color: var(--clr--dark-blue);
    margin: 0.625rem 0;
}

.container p.description {
    padding: 0 1.875rem;
}

.container .pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.875rem auto;
    padding-bottom: 0.625rem;
    background-color: var(--clr--very-pale-blue);
    width: 90%;
    border-radius: 0.313rem;

}

.container .pricing article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6rem;
}

.container .pricing article img {
    margin-right: 1rem;
}

.container .pricing article p.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Buttons */

.btn {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    padding: 0.313rem 0.625rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
}

.button-change {
    background-color: transparent;
    color: var(--clr--secondary-color);
    text-decoration: underline;
    margin-right: 1.25rem;
}

.button-change:hover {
    opacity: 0.7;
}

.button-proceed {
    box-shadow: 0.5rem 1rem 1rem var(--clr--desaturated-blue); 
    background-color: var(--clr--secondary-color);
    color: var(--clr--white);
    padding: 0.625rem;
    margin-bottom: 1.625rem;
    width: 90%;
}

.button-proceed:hover {
    opacity: 0.7;
}

.button-cancel {
    background-color: transparent;
    color: var(--clr--desaturated-blue);
    margin-bottom: 0.5rem;
}

.button-cancel:hover {
    color: var(--clr--dark-blue);
}

/* Attributions from challenge */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 48rem) {
    .bg-image {
        background-image: url(/images/pattern-background-desktop.svg);
        height: 50vh;
    }

    .container {
        width: 31.25rem;
    }
}